* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styling */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* logo */
.logo {
  margin-left: 20px;
}

/* nav */
nav {
  margin-right: 60px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* scroll */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* switcher */
.color-switch {
  position: absolute;
  right: 20px;
}

.color-switch input[type="checkbox"] {
  display: none;
}

.color-switch label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.color-switch label:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.color-switch input:checked + label {
  background-color: #007bff; /* color */
}

.color-switch input:checked + label:after {
  transform: translateX(20px);
}

/* style */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* shadow */
}

/* section */
section {
  padding: 20px;
  margin-top: 60px; /* Berbezpieczny odstęp od góry */
  background-color: #f9f9f9;
  height: 1000px; /* Dla demonstracji */
}

h2 {
  color: #333;
}

/* Form styling */
form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #555;
}
