* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* my colors/gradients - purple version*/

:root {
  --white: #fff;
  --darkWhiteBcg: #fafafa;
  --textColor1: #0162c8;
  --textColor2: #7d62f2;
  --textColor_light: #9e9d9d;
  --wave: #3586ff;
  --firstGrad: linear-gradient(90deg, #a757ac, #7d62f2);
  --secondGrad: linear-gradient(90deg, #cce0f4, #1e9cd7, #005b97);

  --mainGradient: linear-gradient(
    to left bottom,
    #7d62f2,
    #7f65ee,
    #8168ea,
    #836ae6,
    #856de2,
    #8a6cdc,
    #8f6bd6,
    #936ad0,
    #9a65c7,
    #9f60be,
    #a45bb5,
    #a757ac
  );
  --secondary: linear-gradient(
    to right bottom,
    #fd4d3e,
    #fe315c,
    #f61a7a,
    #e51b97,
    #c830b3
  );

  /* my hover colors */

  --mainHover: linear-gradient(
    to left bottom,
    #9e8fdc,
    #9c8cdd,
    #9989dd,
    #9785de,
    #9482de,
    #977fdb,
    #9a7cd8,
    #9d79d5,
    #a576ce,
    #ab74c7,
    #b172c0,
    #b570b9
  );
  --secondaryHover: linear-gradient(
    to right bottom,
    rgba(252, 52, 34, 0.8235294117647058),
    rgba(255, 0, 76, 0.796078431372549),
    rgba(255, 0, 115, 0.7725490196078432),
    rgba(242, 0, 153, 0.8235294117647058),
    rgba(213, 23, 188, 0.796078431372549)
  );

  --textColorHover: #26224b;

  /* box shadow style */

  --shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;

  /* box shadow hovers */

  --shadowHover: rgba(143, 143, 143, 0.212) 0px 5px 15px;

  /* animation states */

  --shadowAnimationStart: rgba(240, 46, 170, 0.4) 0px 0px,
    rgba(240, 46, 170, 0.3) 0px 0px, rgba(240, 46, 170, 0.2) 0px 0px,
    rgba(240, 46, 170, 0.1) 0px 0px, rgba(240, 46, 170, 0.05) 0px 0px;

  --shadowAnimationEnd: rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

/* Navbar styling */
header {
  background-color: var(--textColor1);
  color: var(--white);
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* logo */
.logo {
  margin-left: 20px;
}

/* nav */
nav {
  margin-right: 60px;
}

nav a {
  color: var(--white);
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav a:focus {
  background-color: var(--textColor2);
}

/* scroll */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* switcher */
.color-switch {
  position: absolute;
  right: 20px;
}

.color-switch input[type="checkbox"] {
  display: none;
}

.color-switch label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.color-switch label:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.color-switch input:checked + label {
  background-color: #007bff; /* color */
}

.color-switch input:checked + label:after {
  transform: translateX(20px);
}

/* scrooled nav */
/* .scrolled { */
/* background-color: rgba(0, 0, 0, 0.8); */
/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); shadow */
/* } */

/* section */
section {
  padding: 20px;
  margin-top: 60px;
  background-color: #f9f9f9;
  height: 1000px;
}

h2 {
  color: #333;
}

/* Form styling */
form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}
